[user]
        email = chris@coder.com
        name = Chris Decelles
        signingkey = 1C86C9FEB1E09A44
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gh.coder-internal.com:"]
	insteadOf = https://git.coder-internal.com/
[url "git@gh.coder-internal.com:"]
	insteadOf = https://gh.coder-internal.com/
