[user]
        email = chris@coder.com
        name = Chris Decelles
        signingkey = 9C6C3EAA78773BBB
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gh.coder-internal.com:"]
	insteadOf = https://git.coder-internal.com/
[url "git@gh.coder-internal.com:"]
	insteadOf = https://gh.coder-internal.com/
